@model SignUpDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border: none; background-color: #eee ">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <h2>
                                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Kayıt Ol</p>
                                </h2>
                                <form class="mx-1 mx-md-4" action="/Register/SignUp/" method="post">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="UserName" class="form-control" />
                                            <label class="form-label">Kullanıcı Adı</label>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" asp-for="Email" class="form-control" />
                                            <label class="form-label">Email</label>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-female fa-lg me-3 fa-fw"></i>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="Kadın" asp-for="Gender" checked>
                                            <label class="form-check-label">
                                                Kadın &nbsp;
                                            </label>
                                        </div>
                                        <br />
                                        <i class="fas fa-male fa-lg me-3 fa-fw"></i>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="Erkek" asp-for="Gender">
                                            <label class="form-check-label">
                                                Erkek
                                            </label>
                                        </div>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="Password" class="form-control" />
                                            <label class="form-label">Şifre</label>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                            <label class="form-label">Şifre Tekrar</label>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" asp-for="checkBox" />
                                        <label class="form-check-label">
                                            Tüm <a href="#!" onclick="acceptRules()">şartları</a> kabul ediyorum.
                                        </label>
                                        <span asp-validation-for="checkBox" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="~/Templates/Yummy/assets/img/foods.png"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<script>
    function acceptRules() {
        swal({
            title: "Açık Rıza Bilgilendirmesi",
            text: "Kişisel verileriniz, 6698 sayılı Kişisel Verilerin Korunması Kanunu'na uygun olarak, kişisel verinin paylaşılmasında ilgili kişinin temel hak ve özgürlüğünü zedelemeyen meşru menfaati varsa, ilgili bir sözleşmenin ifasını gerektiriyorsa ya da açık rızanız alınmışsa yurt içindeki ve yurt dışındaki anlaşmalı üçüncü taraflara aktarılabilir ve kişisel verileriz bu üçüncü taraflar tarafından işlenebilir.",
            icon: "info",
            confirmButtonText: 'Okudum'
        });
    }
</script>