<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Yorum</h2>
            <p>YORUMLARIN BİZİM İÇİN ÖNEMLİ! <span>YORUM YAP</span></p>
        </div>
        <form action="/Testimonials/Create" method="post" role="form" class="php-email-form p-3 p-md-4">

            <div class="form-group">
                <textarea class="form-control" name="description" rows="5" placeholder="Yorumun..." required></textarea>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Yorumunu dikkate alacağız. Teşekkürler!</div>
            </div>
            <div class="text-center"><button type="submit">Yorumu Gönder</button></div>
        </form>
        <!--End Contact Form -->

    </div>
</section>