<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Yorum</h2>
            <p>YORUMLARIN BİZİM İÇİN ÖNEMLİ! <span>YORUM YAP</span></p>
        </div>
        <form action="/Testimonials/Create" method="post" role="form">

            <div class="form-group">
                <textarea class="form-control" name="description" rows="15" placeholder="Yorumun..." required></textarea>
            </div>
            <br />
            <div class="text-center"><button type="submit" class="btn btn-outline-danger">Yorumu Gönder</button></div>
        </form>
        <!--End Contact Form -->

    </div>
</section>