<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden bizi seçmelisin?</h3>
                    <p>
                        Size en doğru ve güncel bilgiyi sunmanın yanı sıra, sağlıklı ve keyifli bir diyet deneyimi de sunuyoruz. Bizi seçtiğinizde kalıcı ve sağlıklı bir kilo verme hedefinize en kısa yoldan ulaşabilirsiniz.
                    </p>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Uzman diyetisyenlerle çalışıyoruz!</h4>
                            <p>Her program uzman diyetisyenlerimizce özenle hazırlanıyor.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Sağlığınız bizim için önemli</h4>
                            <p>Her diyet programı sağlığınız için!</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Bilgilendirici içerikler sunuyoruz.</h4>
                            <p>Sağlıklı yaşamla ilgili merak edilen her konuda içeriklerimize erişebilirsiniz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->