@model AppUser

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
        <i class="align-middle" data-feather="settings"></i>
    </a>
    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
        <img src="~/Image/UserImage/@Model.ImageURL" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">@Model.Name @Model.Surname</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="/Admin/Profile"><i class="align-middle me-1" data-feather="user"></i> Profil</a>
        <a class="dropdown-item" href="/Admin/Index"><i class="align-middle me-1" data-feather="pie-chart"></i> Göstergeler</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Login/Logout">Çıkış Yap</a>
    </div>
</li>