@model List<Testimonial>
<section id="testimonials" class="testimonials section">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Yorumlar</h2>
            <p>Kullanıcı<span> Yorumları</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            @item.Description
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                        <h3>@item.AppUser.Name @item.AppUser.Surname</h3>
                                        <p>
                                            <i class="bi bi-calendar"> </i>@Convert.ToDateTime(item.CreatedDate).ToShortDateString()
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="~/Image/UserImage/@item.AppUser.ImageURL" class="img-fluid testimonial-img" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                }

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>