@model List<DietContent>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DietitianLayout.cshtml";
}

<section class="hero d-flex align-items-center section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill" style="border:none">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Diyet İçerikleri Listesi</h5>
                    </div>
                    <hr class="my-0" />
                    <a href="/DietitianArea/DietitianDietContent/CreateDietContent" class="btn btn-success">Yeni İçerik Oluştur</a>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Fotoğraf</th>
                                <th>Başlık</th>
                                <th>Oluşturma tarihi</th>
                                <th>Güncelle</th>
                                <th>Durumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="/Image/DietContentImage/@item.ImageUrl" height="50" width="50" alt="@item.Subject" /></td>
                                    <td>@item.Subject</td>
                                    <td>@Convert.ToDateTime(item.CreatedDate).ToShortDateString()</td>
                                    <td><a href="/DietitianArea/DietitianDietContent/UpdateDietContent/@item.Id" class="btn btn-warning">Güncelle</a></td>
                                    @if (item.Status == true)
                                    {
                                        <td><a href="#" class="btn btn-info">Yayında</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="#" class="btn btn-success">Yayında Değil</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr class="my-0" />
                </div>
            </div>
        </div>
    </div>
</section>

