<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44397/ClientHub").build();
            connection.start().then(function () {
                debugger;
                console.log(connection.connectionState);
                connection.invoke("GetClients");
            }).catch(function (err) {
                console.log("Hata"+err)
            });
            connection.on("ReceiveClientCount", (count) => {
                debugger;
                console.log(count);
                $("#clientCount").index(count);
            })
        })
    </script>

}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title">Ziyaretçiler</h5>
            </div>

            <div class="col-auto">
                <div class="stat text-primary">
                    <i class="align-middle" data-feather="users"></i>
                </div>
            </div>
        </div>
        <div><strong id="clientCount"></strong></div>

    </div>
</div>