<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Hakkımızda</h2>
            <p><span>Hakkımızda</span> DAHA ÇOK BİLGİ EDİNİN</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-5 position-relative about-img" @*style="background-image: url(../Templates/Yummy/assets/img/healthman.png);"*@ data-aos="fade-up" data-aos-delay="150">
                <img src="~/Templates/Yummy/assets/img/healthman.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Kilo vermek, kilo almak, kas yapmak ve yağ yakmak… Bunların hepsinin yolu beslenmeden geçer. Güzel ve sağlıklı bir vücuda sahip olmak için ihtiyaç duyduğunuz yemek, tatlı tariflerini ve beslenme makalelerini dietdeal ile bulabilirsiniz.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Programlarımızı uzman diyetisyenlerimiz hazırlıyor.</li>
                    </ul>
                    <p>
                        Beslenme alanındaki güncel bilimsel verileri takip ederek, içerik yayınlarımız ve komünitemizle birlikte edindiğimiz tecrübeleri tek potada eriterek; faydalı ve kolay anlaşılabilir içerikler sunmayı amaçlıyoruz.

                        Diyetisyen ekibimizle birlikte sürdürdüğümüz Online Diyet ve Beslenme Danışmanlığı hizmetlerimiz ile bugüne dek binin üzerinde değişime tanık olduk ve olmaya da devam ediyoruz.

                        Sağlıklı beslenme en büyük tutkumuz. Tüm Türkiye’yi fit ve sağlıklı yapana dek durmaksızın çalışmaya devam edeceğiz!
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/Templates/Yummy/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->